--extra-index-url https://download.pytorch.org/whl/cu118
git+https://github.com/huggingface/diffusers.git
git+https://github.com/huggingface/transformers.git
torch+cu118; sys_platform != 'darwin'
torch; sys_platform == 'darwin'
torchvision+cu118; sys_platform != 'darwin'
torchvision; sys_platform == 'darwin'
torchaudio+cu118; sys_platform != 'darwin'
torchaudio; sys_platform == 'darwin'
huggingface_hub
transformers>=4.31.0
